You are almost there, {{ user.username }}!

Please open the following link to confirm your account: {{ link }}.

You will be redirected to the main page when you click that link and you need to log in using the username or email
you used to register, as well as your password. Once you are logged in, you will be able to join sessions or
create sessions yourself.

The link expires on {{ expiry }}.

If you didn't register for a Haunted Server account, please ignore this email.
